<p style="color: green"><%= notice %></p>
<div class="h-screen flex flex-col items-center justify-center">
  <div class="">
    <%= render @event %>
  </div>
  <div class="mt-4">
    <%= link_to "Edit this event", edit_event_path(@event) %> |
    <%= link_to "Back to events", events_path %>

    <%= button_to "Destroy this event", @event, method: :delete %>
  </div>
</div>

